extends ./template.pug

block content
	.row
		.col-md-12
			.card
				.card-header
					h4.card-title Leasing
				.card-body
					.toolbar
						button.btn.btn-round.btn-success(data-toggle='modal' data-target='#addLeasingModal') + Add Leasing
					br
					table#leasingTable.table.table-bordered.table-striped(cellspacing='0')
						thead
							tr
								th Stall ID
								th Lessee
								th Leasing Status
								th Actions
						tbody
							each stall in stalls
								tr
									td #{stall.strId}
									td #{`${stall.booStallType == 0 ? 'Food Stall' : 'Dry Goods Stall'}`}
									if(stall.booIsAvailable == 0)
										td.text-success Available
										td
											a.btn.btn-round.btn-warning.btn-icon.edit(href='javascript:void(0)' stallType=`${stall.booStallType}` stallId=`${stall.strId}`)
												i.now-ui-icons.design_scissors
											a.btn.btn-round.btn-danger.btn-icon.remove(href='javascript:void(0)' stallType=`${stall.booStallType}` stallId=`${stall.strId}`)
												i.now-ui-icons.ui-1_simple-remove
									else
										td.text-danger Occupied
										td
											a.btn.btn-round.btn-warning.btn-icon(href='javascript:void(0)' stallType=`${stall.booStallType}` stallId=`${stall.strId}` disabled)
												i.now-ui-icons.design_scissors
											a.btn.btn-round.btn-danger.btn-icon(href='javascript:void(0)' stallType=`${stall.booStallType}` stallId=`${stall.strId}` disabled)
												i.now-ui-icons.ui-1_simple-remove
	#addLeasingModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5.modal-title Add Leasing
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				form#addLeasingForm(method='POST' action='/admin/addLeasing')
					.modal-body
							.form-group
								label Stall ID
									small.text-danger  *
								input.form-control(type='text' name='stallId' placeholder='Enter Stall ID')
							.form-group
								label Username of Lessee
									small.text-danger  *
								input.form-control(type='text' name='lesseeUsername' placeholder='Enter Username')
					.modal-footer
						button#addLeasingSave.btn.btn-primary(type='submit') Create
block contentScript
	script.
		$(document).ready(function(){
			$('#leasingTable').dataTable()
			$('input[name="stallId"]').mask('A-Z000',{
				translation:{
					'A':{
						pattern: /[A-Z]/
					},
					'0':{
						pattern: /[0-9]/
					},
					'Z':{
						pattern: /[1-9]/
					}
				}
			})
			$('#addLeasingForm').validate({
				rules:{
					stallId:{
						required: true,
						remote: {
							url: '/admin/stall-id-check',
							type: 'POST',
							data: {
								stallId: function(){
									return $('#addLeasingForm input[name="stallId"]').val()
								},
								leasing: true
							},
						}
					},
					lesseeUsername:{
						required: true,
						remote: {
							url: '/admin/lessee-user-check',
							type: 'POST',
							data: {
								lesseeUsername: function(){
									return $('#addLeasingForm input[name="lesseeUsername"]').val()
								},
								leasing: true
							}
						}
					}
				},
				messages:{
					stallId:{
						remote: function(){
							return `Stall ${$('#addLeasingForm input[name="stallId"]').val()} does not exist on the database`
						}
					},
					lesseeUsername:{
						remote: function(){
							return `Cannot find user "${$('#addLeasingForm input[name="lesseeUsername"]').val()}"`
						}
					}
				}
			})
		})
